@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <a asp-action="Login" asp-controller="Home">Login</a>
</div>

<div>
    <a asp-action="Info" asp-controller="Home">Look at the Tokens</a>
</div>

<div>
    <a asp-action="Logout" asp-controller="Home">Logout</a>
</div>